<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247952885705-3h0bfajiuha5no9vh0h9pgg01ubhh4d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247952885705-3h0bfajiuha5no9vh0h9pgg01ubhh4d8</string>
	<key>API_KEY</key>
	<string>AIzaSyAS2HczaqMwkkoLnRT6zXD4w_Clr59capI</string>
	<key>GCM_SENDER_ID</key>
	<string>247952885705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sharaf.NearBy</string>
	<key>PROJECT_ID</key>
	<string>nearby-fa32f</string>
	<key>STORAGE_BUCKET</key>
	<string>nearby-fa32f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247952885705:ios:adb1a19c4fd15285148a18</string>
</dict>
</plist>